/*font start*/
@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RotoMono";
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url(landing_page/fonts/Google-Sans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url(landing_page/fonts/Google-Sans-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url(fonts/NotoSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url(fonts/NotoSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url(fonts/NotoSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(fonts/NotoSansKR-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
/*font end*/

/* body */
:root {
  --text-color: #ffffff;
  --body-text-color: #cecece;
  --background-color: #090a0d;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.background {
  margin: 0;
  padding: 0;
  overflow: auto; 
  background-attachment: scroll;
  background-color: #090a0d;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*page1 start*/
.page1{
  background-image: url(img/page1_background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.page1 a {
  color: var(--text-color);
}

.page1_header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 0 17.5rem 0;
}

.page1_header_logo {
  margin: 2.2rem 0 0 2.5rem;
  display: flex;
  align-items: center;
}

.page1_header_logo_link {
  text-decoration: none;
}

.page1_header_logo_head {
  font-family: "GoogleSans";
  font-weight: 700;
  font-size: 1.36rem;
  width: 8.3vw;
  height: 1.43vh;
  margin: 0 1rem 0 1rem;
}

.page1_header_logo_tail {
  font-family: "GoogleSans";
  font-weight: 400;
  width: 9.4vw;
  height: 1.43vh;
  font-size: 1.36rem;
}

.page1_header_join {
  margin: 2.2rem 2.6rem 0 0;
  font-family: "OpenSans";
  font-weight: 700;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  background-color: #4285f4;
  color: var(--text-color);
  border: none;
  text-align: center;
  border-radius: 2.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 4.154vh;
  white-space: nowrap;
}

.page1_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page1_section_logo {
  margin: 0 0 1.75rem 0;
  width: 18.49vw;
  height: 4.9vh;
}

.page1_section_headline {
  color: var(--text-color);
}

#gdsc {
  font-family: "OpenSans";
  font-weight: 550;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  font-size: 4.08rem;
  width: 81.39vw;
  height: 9.45vh;
  margin: 0 0 2.21rem 0;
}

#inha {
  font-family: "OpenSans";
  font-weight: 100;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  font-size:2.38rem ;
  height: 2.05vh;
  margin: 0 0 0 0;
}

.page1_section_body {
  color: var(--body-text-color);
  margin: 10rem 0 0 0;
}

.page1_section_body > p {
  font-family: "OpenSans";
  font-weight: 300;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  font-size: 2.38rem;
  margin: 0 0 1.9rem 0;
  letter-spacing: -0.04375rem;
}
/*page1 end*/

/*page2 start*/
.page2 {
  background-image: url(img/page2_background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  padding: 13.75rem 0 0 0;
}

.page2_title {
  margin: 9.75rem 0 2.5rem 2.5rem;
  font-family: "OpenSans";
  font-weight: 600;
  font-size: 4.42rem;
  line-height: 3.541rem;
  color: rgba(255, 255, 255, 1);
}

.page2_sub {
  margin: 0 0 9.25rem 2.5rem;
  font-family: "RotoMono";
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.251rem;
  letter-spacing: -0.02em;
  text-align: left;
  opacity: 80%;
  color: #E4E8EB;
}

.swiper {
  margin: 0 0 1.65rem 2.5rem;
  width: 94.7vw;
  position: relative;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  justify-content: center;
}

.page2_swiper_image {
  position: relative;
  margin: 0 0 20.63rem 0;
  width: 77.729133vw;
  height: 21.84365vh;
  top: 0;
  left: 0;
}

.swiper-slide img {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 77.729133vw;
  height: 21.84365vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}

.page2_swiper_back_image {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 77.729133vw;
  height: 21.84365vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.swiper-slide-active img {
  opacity: 0.6;
}

.page2_swiper_innertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "OpenSans";
  font-size: 4.08rem;
  font-weight: 700;
  line-height: 30.53px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

.page2_list {
  position: absolute;
  margin: 0 0 0 0;
  top: 63.4%;
  width: 92.639%;
  height: 39.05%;
  font-family: "OpenSans";
  font-size: 2.38rem;
  line-height: 2.907rem;
  font-weight: 300;
  letter-spacing: 0rem;
  text-align: left;
  padding-left: 2rem;
  opacity: 0;
  color: rgba(255, 255, 255, 1);
}

#figma_logo,
#notion_logo,
#github_logo {
  margin-left: 1.7rem;
}

#team_study_head {
  font-size: 2.38rem;
}
#team_study_tail {
  font-size: 1.7rem;
}

.swiper-slide-active ul {
  opacity: 1;
}

.page2_list li {
  margin: 2.75rem 0 0 1rem;
}

.page2_caution {
  list-style: none;
  margin: 0 0 0 4.5rem;
  padding-left: 0;
  font-family: "RotoMono";
  font-size: 1.36rem;
  font-weight: 400;
  line-height: 2.055rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(228, 232, 235, 50);
  opacity: 50%;
}
/*page2 end*/

/*page3,4 start*/

/*화살표 애니메이션*/
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* 움직임 크기 및 방향 조절 */
  }
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1; /* 나타났다 사라지는 애니메이션 설정 */
  }
}

.page1_arrow_container {
  z-index: 60;
  position: fixed;
  bottom: 320px;
  left: 0;
  right: 0; /* 하단에 위치 */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
  animation: moveUpDown 2s linear infinite;
}

#arrow {
  z-index: 60;
  width: 8rem;
  height: 5rem;
  opacity: 0; /* 초기에 투명하게 설정 */
  animation: fadeInOut 2s linear infinite; /* 나타나고 사라지는 애니메이션 설정 */
  transition: transform 0.5s ease, display 0.5s ease;
  transform: translateY(5rem);
}

.button-container {
  z-index: 55;
  position: fixed;
  left: 0;
  right: 0; /* 하단에 위치 */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  bottom: 6rem;
  width: 50rem;
  height: 6.5rem; /* 버튼을 수직 가운데 정렬할 높이 설정 */
  display: flex; /* 내부 요소를 가로 정렬하기 위해 flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */

  border-color: rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-width: 2px;
  color: white;
  font-family: "GoogleSans";
  font-weight: bold;
  font-size: 30px;
  border-radius: 4rem; /* 모서리 둥근 직사각형 버튼 모양 설정 */
  padding: 13px 20px;
  background-color: #090a0d;
  cursor: pointer;
  outline: none;
}

.shadow {
  z-index: 50;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; /* 하단에 위치 */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  bottom: 0; /* 페이지 하단에 고정 */
  left: 0;
  right: 0;
  margin: 0 auto; /* 수평 가운데 정렬 */
  display: flex; /* 내부 요소를 가로 정렬하기 위해 flex 사용 */
  height: 17rem; /* 원하는 블러 처리된 요소의 높이 설정 */
  background-color: #090a0d; /* 블러 처리된 배경 색상 설정 */
  backdrop-filter: blur(10px); /* 블러 처리 경계선 추가 */
  box-shadow: 0 0 25px 30px #090a0d, 0 0 60px 45px #090a0d;
}

/*page3 start*/
.page3 {
  color: white;
  width: 100%;
  height: 100vh;
  padding: 9.5rem 0 0 0;
  background-color: #090a0d;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.page3_title {
  text-align: left;
  margin-bottom: 4.25rem;
  margin-left: 4rem;
  font-family: "OpenSans"; /*타이틀 폰트*/
  font-weight: 600;
  font-size: 3.5rem;
}

.page3_content {
  color: rgba(255, 255, 255, 0.9);
  font-family: "NotoSans"; /*페이지3 내용 폰트*/
  font-weight: normal;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue_rectangle {
  margin-bottom: 1.7rem;
  width: 50rem;
  height: 5.5rem;
  display: flex;
  justify-content: flex-start; /*왼쪽부터 배치 시작*/
  align-items: center; /* 세로 중앙 정렬 */

  border-color: rgba(66, 133, 244, 1);
  border-style: solid;
  border-width: 3.5px;
  border-radius: 2rem;
  padding: 13px 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.green_rectangle {
  margin-bottom: 1.7rem;
  width: 50rem;
  height: 5.5rem;
  display: flex;
  justify-content: flex-start; /*왼쪽부터 배치 시작*/
  align-items: center; /* 세로 중앙 정렬 */

  border-color: rgba(52, 168, 83, 1);
  border-style: solid;
  border-width: 3.5px;
  border-radius: 2rem;
  padding: 13px 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.yellow_rectangle {
  margin-bottom: 1.7rem;
  width: 50rem;
  height: 5.5rem;
  display: flex;
  justify-content: flex-start; /*왼쪽부터 배치 시작*/
  align-items: center; /* 세로 중앙 정렬 */

  border-color: rgba(249, 171, 0, 1);
  border-style: solid;
  border-width: 3.5px;
  border-radius: 2rem;
  padding: 13px 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.red_rectangle {
  margin-bottom: 1.7rem;
  width: 50rem;
  height: 5.5rem;
  display: flex;
  justify-content: flex-start; /*왼쪽부터 배치 시작*/
  align-items: center; /* 세로 중앙 정렬 */

  border-color: rgba(234, 67, 53, 1);
  border-style: solid;
  border-width: 3.5px;
  border-radius: 2rem;
  padding: 13px 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.image {
  margin-left: 2rem;
}

.text {
  width: 100%;
  text-align: center; /* 텍스트 중앙 정렬 */
}

/*page3 end*/

/*page4 start*/
.page4 {
  color: white;
  width: 100%;
  height: 100vh;
  padding: 11rem 0 0 0;
  margin-bottom: 50%; /*가장 아래 높이 지정*/
  background-image: url(img/page4_background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.page4_title > p{
  text-align: left;
  margin-left: 3rem;
  font-family: "OpenSans"; /*타이틀 폰트*/
  font-weight: 600;
  font-size: 4rem;
  margin-top: 8rem;
  margin-bottom: 1.4rem;
}

.page4_title_sub {
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 5.4rem;
  font-size: 1.25rem;
  letter-spacing: -1px;
  color: #cecece;
}

#Eng {
  font-family: "NotoSans";
  font-weight: 300;
}

#KR {
  font-family: "OpenSans";
  font-weight: 300;
}

.page4_content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10.5rem;
}

.page4_con_text1,
.page4_con_text2,
.page4_con_text3 {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 1.5rem;
  color: #ffffff;
  display: flex;
  width: 25.5556vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page4_con_text1 {
  margin-left: 7.7778vw;
  margin-right: 3.8889vw;
}

.page4_con_text3 {
  margin-right: 7.7778rem;
  margin-left: 3.8889vw;
}

.page4_con_title1 {
  display: flex;
  font-family: "NotoSansKR"; /*페이지4 내용 제목 폰트*/
  font-weight: 600;
  font-size: 2rem;
  width: 25.5556vw;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #fff8f8;
  aspect-ratio: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 3.25rem;
}
.page4_con_title2,
.page4_con_title3 {
  display: flex;
  font-family: "NotoSans"; /*페이지4 내용 제목 폰트*/
  font-weight: 600;
  font-size: 2rem;
  width: 25.5556vw;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #fff8f8;
  aspect-ratio: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 3.25rem;
}

.page4_con_title1 {
  background-color: #ff6356;
  margin-left: 7.7778vw;
  margin-right: 3.8889vw;
}

.page4_con_title2 {
  background-color: #4fd473;
}

.page4_con_title3 {
  background-color: #ffc138;
  margin-right: 7.7778rem;
  margin-left: 3.8889vw;
}

.page4_plus_content {
  margin-left: 5rem;
  padding-left: 2rem;
  border-left-color: rgba(255, 255, 255, 0.4);
  border-left-width: 0.4rem;
  border-left-style: solid;
}

.page4_plus_content > p{
  font-family: "NotoSansKR";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.84);
}

.page4_plus_content > p > span{
  font-size: 1.5rem;
}
/*page4 end*/